<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-request-heading" data-cy="RequestCreateUpdateHeading" jhiTranslate="billingApp.request.home.createOrEditLabel">
        Create or edit a Request
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="billingApp.request.duration" for="field_duration">Duration</label>
          <input type="number" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="billingApp.request.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="billingApp.request.requestDate" for="field_requestDate">Request Date</label>
          <div class="input-group">
            <input
              id="field_requestDate"
              data-cy="requestDate"
              type="text"
              class="form-control"
              name="requestDate"
              ngbDatepicker
              #requestDateDp="ngbDatepicker"
              formControlName="requestDate"
            />
            <button type="button" class="btn btn-secondary" (click)="requestDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="billingApp.request.resultat" for="field_resultat">Resultat</label>
          <select
            class="form-control"
            id="field_resultat"
            data-cy="resultat"
            name="resultat"
            formControlName="resultat"
            [compareWith]="compareResultat"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="resultatOption" *ngFor="let resultatOption of resultatsCollection">{{ resultatOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="billingApp.request.forfait" for="field_forfait">Forfait</label>
          <select
            class="form-control"
            id="field_forfait"
            data-cy="forfait"
            name="forfait"
            formControlName="forfait"
            [compareWith]="compareForfait"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="forfaitOption" *ngFor="let forfaitOption of forfaitsSharedCollection">{{ forfaitOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
