<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="client">
      <h2 data-cy="clientDetailsHeading"><span jhiTranslate="billingApp.client.detail.title">Client</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ client.id }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.client.accountId">Account Id</span></dt>
        <dd>
          <span>{{ client.accountId }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.client.companyName">Company Name</span></dt>
        <dd>
          <span>{{ client.companyName }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.client.firstName">First Name</span></dt>
        <dd>
          <span>{{ client.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.client.address">Address</span></dt>
        <dd>
          <span>{{ client.address }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.client.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ client.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.client.product">Product</span></dt>
        <dd>
          <span *ngFor="let product of client.products; let last = last">
            <a [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="billingApp.client.forfait">Forfait</span></dt>
        <dd>
          <span *ngFor="let forfait of client.forfaits; let last = last">
            <a [routerLink]="['/forfait', forfait.id, 'view']">{{ forfait.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
