<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productLicense">
      <h2 data-cy="productLicenseDetailsHeading"><span jhiTranslate="billingApp.productLicense.detail.title">Product License</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ productLicense.id }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.productLicense.accessKey">Access Key</span></dt>
        <dd>
          <span>{{ productLicense.accessKey }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.productLicense.startDate">Start Date</span></dt>
        <dd>
          <span>{{ productLicense.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.productLicense.endDate">End Date</span></dt>
        <dd>
          <span>{{ productLicense.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="billingApp.productLicense.isActive">Is Active</span></dt>
        <dd>
          <span>{{ productLicense.isActive }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product-license', productLicense.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
